<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="../../fragments/base.html"></div>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <script th:src="@{/js/jscripts.js}"></script>
        <!--<script language="JavaScript">-->
        <!--var EXPAND_GIF = "../../image/expand.gif";-->
        <!--var COLLAPSE_GIF ="../../image/colapse.gif";-->
        <!--</script>-->
        <!--<title><bean:message key="title"/></title>-->
    </head>
</html>
