<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: head">
</head>
<body class="sidemenu">
<script type="text/javascript">

    function testaProgressBar() {
        progressStart();
        setTimeout(function() { progressStop(); }, 1000);
    }

</script>
<div th:replace="fragments/progressbar :: progressBarStart"></div>

Active profile: <span th:text="${@environment.activeProfiles[0]}"></span>
<br/>
<br/>

Message source: <span th:text="#{message.progressbar.working}"></span><br/>
<br/>

<img th:src="@{/img/skandia.png}"/><br/>
<br/>

Johans Hello Spring MVC!<br/>
<br/>

<a href="#" onclick="testaProgressBar()">Testa progress bar</a><br/>

<div th:replace="fragments/progressbar :: progressBarEnd"></div>
</body>
